# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/

# Env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Runtime/temp
temp/
*.log

# Build
build/
dist/
*.egg-info/

app/gfpgan/weights/detection_Resnet50_Final.pth
app/gfpgan/weights/weights/parsing_parsenet.pth
app/services/image_enhancement/RealESRGAN_x2plus.pth
app/services/image_enhancement/GFPGANv1.3.pth

